table {
    background-color: #f2f2f2; /* Set table background color */
  }
  
  th {
    background-color: #333; /* Set header background color */
    color: #fff; /* Set header text color */
    font-size: 16px; /* Set header font size */
  }
  
  table {
    border: 1px solid #ccc; /* Add a border to the table */
  }
  
  td, th {
    border: 1px solid #ccc; /* Add a border to cells */
  }
  
  th {
    text-align: center; /* Align header text to the left */
  }
  
  td {
    text-align: center; /* Align cell text to the center */
    vertical-align: middle; /* Vertically center cell content */
  }
  
  td, th {
    padding: 10px; /* Add padding around cell content */
  }
  
  table {
    margin-bottom: 20px; /* Add margin below the table */
  }

  table {
    border-collapse: collapse; /* Merge cell borders */
    width: 100%; /* Adjust table width */
  }
  
  tr:hover {
    background-color: #f5f5f5; /* Set hover background color for rows */
  }
  
  td:hover {
    background-color: #eee; /* Set hover background color for cells */
  }

  #searchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    margin-right: 5px;
  }
  
  #searchButton {
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #searchButton:hover {
    background-color: #45a049;
  }
  
  #searchResults {
    margin-top: 10px;
  }
  
  #searchResults hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .back-to-top-btn {
    display: none; /* Hide the button by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5;
  }
  
  .back-to-top-btn:hover {
    background-color: #777;
    text-decoration: none;
    color: #fff;
  }